<div class="container">

  @if (products) {
    <table class="table">

      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
      </thead>

      <tbody>
        @for (p of products._embedded.products; track p.id) {
          <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.price }}</td>
            <td>{{ p.quantity }}</td>
          </tr>
        }
      </tbody>

    </table>
  }

</div>
