spring:
  cloud:
    gateway:
      server:
        webflux:
          globalcors:
            cors-configurations:
                '[/**]':
                allowedOrigins: "http://localhost/4200"
                allowedHeaders: "*"
                allowedMethods:
                  - GET
                  - POST
                  - PUT
                  - DELETE


